@model IEnumerable<DesignPatterns.Models.Item>

@{
    ViewData["Title"] = "Items Index";
}

<h2>Items</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Items", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Items", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Items", new { id = item.Id }, null)
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.ActionLink("Create New", "Create", "Items")
